.main {
   height: 100vh;
   display: flex;
   flex-direction: column;
}

.main__top {
  height: 10vh;
}

.main__center {
  display: flex;
  height: 80vh;
}

.main__bottom {
  height: 10vh;
  padding: 0 2%;
  background-color: rgb(143, 143, 143);
  align-items: center;
}

.control-btn{
  background-color: rgb(31, 30, 30);
}

.video-container{
  flex-grow: 1;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex-wrap: wrap;
  overflow-y: auto;
}

#video-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#msg-block {
  width: 25vw;
  min-width: 25vw;
  display: none;
  background-color: white;
}

#participants {
  width: 25vw;
  display: none;
  background-color: white;
}
  
video {
  flex: 1;
  width: 50%;
  height: 50%;
  object-fit: contain;
  padding: 2%;
}

.btn-round{
  border: 2px solid white;
  justify-content: center;
  border-radius: 49%;
}